<div class="container" style="padding-bottom: 12px;">

  <div class="text-center border mb-5 shadow rounded">
    <h1>{{ 'CONTACT_ME' | translate }}</h1>
    <p>{{ 'CONTACT_DESCRIPTION' | translate }}:</p>
  </div>

  <div class="list-group shadow">
    <a *ngFor="let item of menuItemsContact()"
      [href]="item.url" target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3" >
      <img [src]="item.img" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
      <h3 class="mb-0">{{ item.flag }}</h3>
    </a>
  </div>

</div>
