<footer
  class="text-center text-white m-3 p-3 bg-gradient-to-t from-teal-500 via-purple-600 to-indigo-700 rounded-xl"
>
  <!-- Main text -->
  <p class="text-base md:text-xl mb-6">🚀 {{ "FOOTER.TEXT" | translate }} 🚀</p>

  <!-- Social links -->
  <div class="flex flex-wrap justify-center gap-4 mb-6">
    <a
      *ngFor="let item of menuItemsFooter"
      [href]="item.url"
      target="_blank"
      rel="noopener noreferrer"
      (click)="trackFooterClick(item.flag, item.url)"
      class="hover:scale-110 transition"
      [title]="item.flag"
    >
      <img
        [src]="item.img"
        [alt]="item.flag"
        class="w-8 h-8 rounded-full object-cover"
      />
    </a>
  </div>

  <!-- Year -->
  <p class="text-sm text-white/80">&copy; {{ currentYear }}</p>

  <!-- Divider -->
  <div
    class="w-full h-px my-6 bg-gradient-to-r from-transparent via-white/20 to-transparent"
  ></div>

  <!-- Signature -->
  <div class="mt-4">
    <div
      class="flex flex-col sm:flex-row flex-wrap items-center justify-evenly gap-4 sm:gap-5 text-xs text-white/70 text-center sm:text-left"
    >
      <!-- Logo + link -->
      <a
        href="https://ingaamira.com"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-2 group"
      >
        <img
          src="assets/icons/logo-ingaamira.png"
          alt="IngAamira"
          class="w-8 h-8 rounded-full object-cover"
        />

        <span
          class="text-xs text-white/70 group-hover:text-white transition-colors"
        >
          by: www.ingaamira.com
        </span>
      </a>

      <!-- CTA -->
      <p class="text-xs text-white/70">
        {{ "FOOTER.BY_DESCRIPTION" | translate }}
        <a
          href="#"
          (click)="goToWhatsApp(); $event.preventDefault()"
          class="text-white font-medium hover:underline ml-1"
        >
          {{ "FOOTER.BY_TALK" | translate }}
        </a>
      </p>
    </div>
  </div>
</footer>
