<hr class="my-4 border-gray-200" />

<nav class="flex justify-center">
  <div class="flex gap-2 md:gap-6">
    <a
      *ngFor="let item of menuItemsHome; trackBy: trackByRoute"
      [routerLink]="item.route"
      routerLinkActive="text-purple-600 font-semibold"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex flex-col items-center justify-center px-3 py-2 rounded-xl text-gray-500 hover:text-purple-600 transition"
    >
      <svg
        class="w-8 h-8 md:w-6 md:h-6"
        fill="none"
        stroke="currentColor"
        stroke-width="1.8"
        viewBox="0 0 24 24"
      >
        <path
          [attr.d]="item.icon"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <span class="mt-1 text-[10px] md:text-sm">
        {{ item.name | translate }}
      </span>
    </a>
  </div>
</nav>

<hr class="my-4 border-gray-200" />
