<div class="container text-center">

  <div class="d-flex flex-wrap justify-content-center pb-4">
    <button *ngFor="let item of menuItemsResume()" class="btn btn-outline-primary mb-2 me-2" (click)="item.event()">
      <i class="bi bi-file-earmark-pdf-fill"></i>
      {{ item.name | translate }}
    </button>
  </div>

  <div class="pb-2">
    <accordion [isAnimated]="true" class="shadow">

      <accordion-group [(isOpen)]="isWorkExperienceOpen" class="d-flex flex-column">
        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
          <div style="visibility: hidden;">></div>
          <div class="btn-link">
            <div class="text-truncate">{{ 'WORK' | translate }}</div>
          </div>
          <div style="width: 10.95px;">
            <div *ngIf="!isWorkExperienceOpen" style="color: white;">></div>
            <div *ngIf="isWorkExperienceOpen" style="color: white;">v</div>
          </div>
        </button>
        <app-work-experience />
      </accordion-group>

      <accordion-group [(isOpen)]="isSectorExperienceOpen" class="d-flex flex-column">
        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
          <div style="visibility: hidden;">></div>
          <div class="btn-link">
            <div class="text-truncate">{{ 'SECTOR' | translate }}</div>
          </div>
          <div style="width: 10.95px;">
            <div *ngIf="!isSectorExperienceOpen" style="color: white;">></div>
            <div *ngIf="isSectorExperienceOpen" style="color: white;">v</div>
          </div>
        </button>
        <app-work-sector />
      </accordion-group>

      <accordion-group [(isOpen)]="isSkillsDeOpen" class="d-flex flex-column">
        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
          <div style="visibility: hidden;">></div>
          <div class="btn-link">
            <div class="text-truncate">{{ 'SKILLS_DATA' | translate }}</div>
          </div>
          <div style="width: 10.95px;">
            <div *ngIf="!isSkillsDeOpen" style="color: white;">></div>
            <div *ngIf="isSkillsDeOpen" style="color: white;">v</div>
          </div>
        </button>
        <app-work-data />
      </accordion-group>

      <accordion-group [(isOpen)]="isSkillsSdOpen" class="d-flex flex-column">
        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
          <div style="visibility: hidden;">></div>
          <div class="btn-link">
            <div class="text-truncate">{{ 'SKILLS_DEV' | translate }}</div>
          </div>
          <div style="width: 10.95px;">
            <div *ngIf="!isSkillsSdOpen" style="color: white;">></div>
            <div *ngIf="isSkillsSdOpen" style="color: white;">v</div>
          </div>
        </button>
        <app-work-dev />
      </accordion-group>

      <accordion-group [(isOpen)]="isEducationOpen" class="d-flex flex-column">
        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
          <div style="visibility: hidden;">></div>
          <div class="btn-link">
            <div class="text-truncate">{{ 'EDUCATION' | translate }}</div>
          </div>
          <div style="width: 10.95px;">
            <div *ngIf="!isEducationOpen" style="color: white;">></div>
            <div *ngIf="isEducationOpen" style="color: white;">v</div>
          </div>
        </button>
        <app-education />
      </accordion-group>

      <accordion-group [(isOpen)]="isLanguagesOpen" class="d-flex flex-column">
        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
          <div style="visibility: hidden;">></div>
          <div class="btn-link">
            <div class="text-truncate">{{ 'LANGUAGES' | translate }}</div>
          </div>
          <div style="width: 10.95px;">
            <div *ngIf="!isLanguagesOpen" style="color: white;">></div>
            <div *ngIf="isLanguagesOpen" style="color: white;">v</div>
          </div>
        </button>
        <app-languages />
      </accordion-group>

    </accordion>
  </div>
</div>
