<div class="container text-center">
  <div class="d-flex flex-wrap justify-content-center pb-4">
    <button *ngFor="let item of menuItemsResume()" class="btn btn-outline-primary mb-2 me-2" (click)="item.event()">
      <i class="bi bi-file-earmark-pdf-fill"></i>
      {{ item.name | translate }}
    </button>
  </div>

  <div class="pb-2">
    <accordion [isAnimated]="true" class="shadow">
      <accordion-group *ngFor="let group of accordionGroups" [(isOpen)]="isOpenState[group.isOpen]" class="d-flex flex-column">
        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
          <div style="visibility: hidden;">></div>
          <div class="btn-link">
            <div class="text-truncate">{{ group.title | translate }}</div>
          </div>
          <div style="width: 10.95px;">
            <div *ngIf="!isOpenState[group.isOpen]" style="color: white;">></div>
            <div *ngIf="isOpenState[group.isOpen]" style="color: white;">v</div>
          </div>
        </button>
        <ng-container *ngComponentOutlet="group.component"></ng-container>
      </accordion-group>
    </accordion>
  </div>
</div>
