<div class="container">
  <div class="row">

    <!-- About Me -->
    <div class="col-sm-6">
      <div class="card h-100">
        <div class="card-header text-center">
          <h2>{{ 'ABOUT_ME.TITLE' | translate }}</h2>
        </div>
        <div class="text-center mx-auto d-none d-md-block">
          <img src="assets/imgs/home/profile.jpg" alt="Profile picture" width="250" height="250" class="img-fluid rounded-circle mt-4">
        </div>
        <div class="card-body">
          <div class="card-text mt-3" style="text-align: justify;">
            <div *ngFor="let aboutMeText of aboutMeTexts$ | async">
              <p>{{ aboutMeText }}</p>
            </div>
            <div class="mx-auto d-md-none">
              <ng-container *ngIf="featuredProject$ | async as featured">
                <p>
                  {{ featured.INFO }}
                  <a [routerLink]="'/portfolio'" aria-current="page">
                    <i class="bi bi-briefcase-fill"></i>
                  </a>
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Featured Project -->
    <div class="col-sm-6 mx-auto d-none d-md-block">
      <div class="card h-100">
        <div class="card-header text-center">
          <ng-container *ngIf="featuredProject$ | async as featured">
            <h2>{{ featured.TITLE }}</h2>
          </ng-container>
        </div>
        <div class="card-body">
          <carousel class="d-block carousel carousel-dark slide">
            <div *ngFor="let picture of project.pictures">
              <slide>
                <div class="text-center py-2">
                  <img [src]="picture" alt="Project introduction" width="300" height="300" class="img-fluid">
                </div>
              </slide>
            </div>
          </carousel>
          <div class="card-title mt-5">
            <h5>{{ project.name }}</h5>
          </div>
          <div class="card-text mt-2" style="text-align: justify;">
            <ng-container *ngIf="featuredProject$ | async as featured">
              <p>{{ featured.SUMMARY }}</p>
              <p>
                {{ featured.INFO }}
                <a [routerLink]="'/portfolio'" aria-current="page">
                  <i class="bi bi-briefcase-fill"></i>
                </a>
              </p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
