<div class="container">

  <div class="row">

    <!--About Me-->
    <div class="col-lg shadow border m-1">

      <div class="text-center">
        <h2 class="mt-2">{{ 'ABOUT_ME' | translate }}</h2>
        <img src="assets/imgs/home/profile.jpg" alt="profile picture" width="256" height="256" class="rounded-circle mt-2">
        <p style="text-align: left; margin-top: 18px;">
          {{ 'ABOUT_ME_TEXT_1' | translate:{ years: years.toString() } }}
        </p>
        <p style="text-align: left; margin-top: 10px;">
          {{ 'ABOUT_ME_TEXT_2' | translate }}
        </p>
        <!-- <p style="text-align: left; margin-top: 10px;">
          {{ 'ABOUT_ME_TEXT_3' | translate }}
        </p> -->
      </div>

    </div>

    <!--Featured Project-->
    <div class="col-lg shadow border m-1">

      <div class="text-center mt-2">
        <h2>{{ 'FEATURED_PROJECT' | translate }}</h2>
        <h4>{{ featureProject.name }}</h4>
      </div>

      <carousel class="d-block carousel carousel-dark slide">
        <div *ngFor="let picture of featureProject.pictures">
          <slide>
            <div class="text-center py-2">
              <img
                [src]="picture"
                alt="slide"
                [ngStyle]="{'width.px': getWidth(), 'height.px': getHeight()}"
                [ngClass]="{'img-fluid': isResponsive()}"
              >
            </div>
          </slide>
        </div>
      </carousel>

      <p class="mt-2">{{ 'FEATURED_PROJECT_SUMMARY' | translate }}</p>
      <p>
        {{ 'FEATURED_PROJECT_INFO' | translate }}
        <a
          [routerLink]="'/portfolio'"
          aria-current="page" >
          <i class="bi bi-briefcase-fill"></i>
        </a>
      </p>

    </div>

  </div>

</div>
