<div class="container">

  <div class="row">

    <!--About Me-->
    <div class="col-lg col-12 mx-auto shadow border m-1">
      <div class="text-center">
        <h2 class="mt-4">{{ 'ABOUT_ME' | translate }}</h2>
        <img src="assets/imgs/home/profile.jpg" alt="Profile picture" width="250" height="250" class="rounded-circle mt-4">
      </div>
      <div class="text-justify" style="text-align: justify;">
        <p class="mt-4">
          {{ 'ABOUT_ME_TEXT_1' | translate:{ years: years.toString() } }}
        </p>
        <p class="mt-2">
          {{ 'ABOUT_ME_TEXT_2' | translate }}
        </p>
      </div>
    </div>

    <!--Featured Project-->
    <div class="col-lg col-12 mx-auto shadow border m-1 text-center">
      <h2 class="mt-4">{{ 'FEATURED_PROJECT' | translate }}</h2>
      <h4>{{ featureProject.name }}</h4>

      <carousel class="d-block carousel carousel-dark slide">
        <div *ngFor="let picture of featureProject.pictures">
          <slide>
            <div class="text-center py-2">
              <img
                [src]="picture"
                alt="slide"
                [ngStyle]="{'width.px': getWidth(), 'height.px': getHeight()}"
                [ngClass]="{'img-fluid': isResponsive()}"
                class="img-fluid"
              >
            </div>
          </slide>
        </div>
      </carousel>

      <p class="mt-4">{{ 'FEATURED_PROJECT_SUMMARY' | translate }}</p>
      <p class="mt-2">
        {{ 'FEATURED_PROJECT_INFO' | translate }}
        <a
          [routerLink]="'/portfolio'"
          aria-current="page" >
          <i class="bi bi-briefcase-fill"></i>
        </a>
      </p>

    </div>
  </div>

</div>
