<div style="text-align: left;">
  <div class="text-primary">{{ 'SOFTWARE_DEVELOPER' | translate }}</div>
  <div class="mb-0">IAS Software</div>
  <div class="text-secondary">{{ 'DATE' | translate }}: 07/2023 - ({{ 'PRESENT' | translate }})</div>
  <ul>
    <li *ngFor="let item of objectives">
      {{ item.translationKey | translate }}
    </li>
  </ul>
</div>

<hr/>

<div style="text-align: left;">
  <div class="text-primary">{{ 'IAS_JOB_2' | translate }}</div>
  <div class="mb-0">IAS Software</div>
  <div class="text-secondary">{{ 'DATE' | translate }}: 12/2022 - 06/2023</div>
  <ul>
    <li>{{ 'IAS_DWH_OBJECTIVE_1' | translate }}</li>
    <li>{{ 'IAS_DWH_OBJECTIVE_2' | translate }}</li>
    <li>{{ 'IAS_DWH_OBJECTIVE_3' | translate }}</li>
    <li>{{ 'IAS_DWH_OBJECTIVE_4' | translate }}</li>
  </ul>
</div>

<hr/>

<div style="text-align: left;">
  <div class="text-primary">{{ 'AVALON_JOB' | translate }}</div>
  <div class="mb-0">Avalon Group</div>
  <div class="text-secondary">{{ 'DATE' | translate }}: 06/2022 - 11/2022</div>
  <ul>
    <li>{{ 'AVALON_OBJECTIVE_1' | translate }}</li>
    <li>{{ 'AVALON_OBJECTIVE_2' | translate }}</li>
    <li>{{ 'AVALON_OBJECTIVE_3' | translate }}</li>
    <li>{{ 'AVALON_OBJECTIVE_4' | translate }}</li>
  </ul>
</div>

<hr/>

<div style="text-align: left;">
  <div class="text-primary">{{ 'EMTELCO_JOB_1' | translate }}</div>
  <div class="mb-0">Emtelco CX & BPO</div>
  <div class="text-secondary">{{ 'DATE' | translate }}: 03/2021 - 06/2022</div>
  <ul>
    <li>{{ 'EMTELCO_BI_OBJECTIVE_1' | translate }}</li>
    <li>{{ 'EMTELCO_BI_OBJECTIVE_2' | translate }}</li>
    <li>{{ 'EMTELCO_BI_OBJECTIVE_3' | translate }}</li>
    <li>{{ 'EMTELCO_BI_OBJECTIVE_4' | translate }}</li>
  </ul>
</div>

<hr/>

<div style="text-align: left;">
  <div class="text-primary">{{ 'ULTRACOM_JOB' | translate }}</div>
  <div class="mb-0">Ultracom IT S.A.S</div>
  <div class="text-secondary">{{ 'DATE' | translate }}: 12/2019 - 03/2021</div>
  <ul>
    <li>{{ 'ULTRACOM_OBJECTIVE_1' | translate }}</li>
    <li>{{ 'ULTRACOM_OBJECTIVE_2' | translate }}</li>
    <li>{{ 'ULTRACOM_OBJECTIVE_3' | translate }}</li>
    <li>{{ 'ULTRACOM_OBJECTIVE_4' | translate }}</li>
  </ul>
</div>

<hr/>

<div style="text-align: left;">
  <div class="text-primary">{{ 'EMTELCO_JOB_2' | translate }}</div>
  <div class="mb-0">Emtelco CX & BPO</div>
  <div class="text-secondary">{{ 'DATE' | translate }}: 12/2011 - 11/2019</div>
  <ul>
    <li>{{ 'EMTELCO_PyC_OBJECTIVE_1' | translate }}</li>
    <li>{{ 'EMTELCO_PyC_OBJECTIVE_2' | translate }}</li>
    <li>{{ 'EMTELCO_PyC_OBJECTIVE_3' | translate }}</li>
    <li>{{ 'EMTELCO_PyC_OBJECTIVE_4' | translate }}</li>
    <li>{{ 'EMTELCO_PyC_OBJECTIVE_5' | translate }}</li>
  </ul>
</div>
