<div class="row" style="text-align: left">
  <div class="col">
    <h3>{{ 'PROGRAMING_LANGUAGES' | translate }}:</h3>
    <ul>
      <li>Java</li>
      <li>Python</li>
      <li>JavaScript</li>
      <li>TypeScript</li>
    </ul>
  </div>

  <div class="col">
    <h3>Frameworks:</h3>
    <ul>
      <li>Spring Boot</li>
      <li>Angular</li>
    </ul>
  </div>

  <div class="col">
    <h3>{{ 'DATABASE' | translate }}:</h3>
    <ul>
      <li>PostgreSQL</li>
      <li>SQL Server</li>
      <li>Oracle</li>
      <li>MySQL</li>
    </ul>
  </div>

  <div class="col">
    <h3>{{ 'CLOUD_COMPUTING' | translate }}:</h3>
    <ul>
      <li>Azure: Azure Devops, Data Factory, Databricks</li>
      <li>AWS: S3, EC2, Databricks, Redshift, C3</li>
    </ul>
  </div>

  <div class="col">
    <h3>{{ 'TESTING' | translate }}:</h3>
    <ul>
      <li>{{ 'UNIT_TEST' | translate }}</li>
      <li>{{ 'INTEGRATION_TEST' | translate }}</li>
      <li>{{ 'E2E_TEST' | translate }}</li>
    </ul>
  </div>

  <div class="col">
    <h3>{{ 'OTHER_SKILLS' | translate }}:</h3>
    <ul>
      <li>Git</li>
      <li>{{ 'CLEAN_ARCHITECTURE' | translate }}</li>
      <li>{{ 'CLEAN_CODE' | translate }}</li>
      <li>SOLID</li>
      <li>API Rest</li>
      <li>Gradle</li>
      <li>Maven</li>
      <li>{{ 'DOM' | translate }}</li>
      <li>DevOps</li>
      <li>{{ 'AGILE' | translate }}</li>
    </ul>
  </div>

</div>
