<div class="header">

  <div class="row">
    <ng-container *ngFor="let item of itemsTitle; let first = first" class="col-lg">
      <ng-container *ngIf="first; else h3Template">
        <h1>{{ item.name | translate }}</h1>
      </ng-container>
      <ng-template #h3Template>
        <h3>{{ item.name | translate }}</h3>
      </ng-template>
    </ng-container>
  </div>

  <div class="language-selector bottom-right">
    <button *ngFor="let item of menuItemsHeader()"
      (click)="item.event()">
      <img [src]="item.img" [alt]="item.flag" >
    </button>
  </div>

</div>
