<div class="header">

  <div class="row justify-content-center">
    <ng-container *ngFor="let item of itemsTitle; let isFirst = first; let isLast = last">
      <ng-container *ngIf="isFirst; else h3Template">
        <h1>{{ item.title | translate }}</h1>
      </ng-container>
      <ng-template #h3Template>
        <h3>{{ item.title | translate }} <span class="d-none d-md-block" *ngIf="!isLast"> &nbsp;|&nbsp; </span></h3>
      </ng-template>
    </ng-container>
  </div>

  <div class="language-selector bottom-right">
    <button *ngFor="let item of menuItemsHeader()" (click)="item.event()">
      <img [src]="item.img" [alt]="item.flag">
    </button>
  </div>

</div>
