<div class="nav-box">

  <div class="nav-item" tabindex="0">
    <a
      [routerLink]="'/'"
      [routerLinkActive]="'active-link'"
      [routerLinkActiveOptions]="{ exact: true }"
      class="block navigation-link"
      aria-current="page" >
      <i class="bi bi-house-fill"></i>
      {{ 'HOME' | translate }}
    </a>
  </div>

  <div class="nav-item" tabindex="0">
    <a
      [routerLink]="'/portfolio'"
      [routerLinkActive]="'active-link'"
      [routerLinkActiveOptions]="{ exact: true }"
      class="block navigation-link"
      aria-current="page" >
      <i class="bi bi-folder-symlink-fill"></i>
      {{ 'PORTFOLIO' | translate }}
    </a>
  </div>

  <div class="nav-item" tabindex="0">
    <a
      [routerLink]="'/resume'"
      [routerLinkActive]="'active-link'"
      [routerLinkActiveOptions]="{ exact: true }"
      class="block navigation-link"
      aria-current="page" >
      <i class="bi bi-file-person-fill"></i>
      {{ 'RESUME' | translate }}
    </a>
  </div>

</div>
