.w-4rem {
  width: 6rem !important;
}

.navigation-link {
  border-radius: 16px;
  color: #794999;
  cursor: pointer;
  font-size: 20px;
  padding: 3px 8px;
  text-decoration: none;
  transition: all ease .2s;
}

.navigation-link:hover,
.active-link {
  background-color: #7134F0;
  color: #fff;
  font-weight: bold;
}
