<div class="flex flex-wrap align-items-center justify-content-center">

  <div class="w-4rem h-4rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mr-3">
    <a
      [routerLink]="'/'"
      [routerLinkActive]="'active-link'"
      [routerLinkActiveOptions]="{ exact: true }"
      class="block navigation-link"
      aria-current="page"
    >{{ 'HOME' | translate }}</a>
  </div>

  <div class="w-4rem h-4rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mr-3">
    <a
      [routerLink]="'/portfolio'"
      [routerLinkActive]="'active-link'"
      [routerLinkActiveOptions]="{ exact: true }"
      class="block navigation-link"
      aria-current="page"
    >{{ 'PORTFOLIO' | translate }}</a>
  </div>

  <div class="w-4rem h-4rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mr-3">
    <a
      [routerLink]="'/resume'"
      [routerLinkActive]="'active-link'"
      [routerLinkActiveOptions]="{ exact: true }"
      class="block navigation-link"
      aria-current="page"
    >{{ 'RESUME' | translate }}</a>
  </div>

  <!-- <div class="w-4rem h-4rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mr-3">
    <a
      [routerLink]="'/contact'"
      [routerLinkActive]="'active-link'"
      [routerLinkActiveOptions]="{ exact: true }"
      class="block navigation-link"
      aria-current="page"
    >{{ 'CONTACT' | translate }}</a>
  </div> -->

</div>
