<div class="card">

  <div class="card-header text-center">
    <h5>{{ project.name }}</h5>
  </div>

  <div class="card-body">
    <p class="card-text">{{ project.summary }}</p>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="button" class="btn btn-outline-primary mb-2 me-2" (click)="OpenProjectModal()" >
        <i class="bi bi-three-dots"></i>
        View More</button>
    </div>
  </div>

  <div class="card-footer">
    <div class="d-flex flex-wrap justify-content-center">
      <div *ngFor="let tag of project.tags">
        <div class="tag me-2 mb-1" [style.background-color]="tag.color">{{ tag }}</div>
      </div>
    </div>
  </div>

</div>
