/*Angular Material*/

html,
body {
  font-family: Roboto, "Arial", sans-serif;
  height: 100%;
  margin: 0;
}


/*Development*/

/*
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 100%;
  min-width: 100%;
}*/
